.link{
    color: white;
    transition: all 0.4s;
}
.link:hover {
    color: gray;
    transform: scale(1.3);

}
.link-m{
    color: black;
}
.logo{
    font-weight: 600;
    font-family: 'Patrick Hand', cursive;
    font-size: x-large;
}
.right-half{
    margin-left: 0.5vmax;
    display: flex;
    flex-direction: row;
    margin-right: 1vmax
}
