body{
    margin: 0;
}
*{
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}
.loader{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 25vh;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]{
    -moz-appearance: textfield;
}

.red{
    color: red;
}
.green{
    color: green;
}
